<ion-header></ion-header>

<ion-content class="content" [ngClass]="{'cloudy': isCloudy, 'sunny': isSunny, 'rainy': isRainy}">
  <div class="error" *ngIf="error">
    <h2>Oopsie</h2>
    <p>An error has occured, please try again</p>
    <button ion-button block (click)="retry()">Retry</button>
  </div>
  <div class="temperature" *ngIf="data.length">
    <h2>{{ roundToNear(today?.main.temp) }}<sup>&deg;</sup></h2>
    <p>{{ getWeatherDescription(today?.weather[0]?.main)}}</p>
  </div>
  <img *ngIf="data.length" class="background" [src]="imageBG" [alt]="today?.weather[0]?.main">
  <div class="info" *ngIf="data.length">
    <ion-grid>
      <ion-row>
        <ion-col class="left" col-4>
          <h4>{{ roundToNear(today?.main.temp_min) }}<sup>&deg;</sup></h4>
          <p>Min</p>
        </ion-col>
        <ion-col class="center" col-4>
          <h4>{{ roundToNear(today?.main.temp) }}<sup>&deg;</sup></h4>
          <p>Current</p>
        </ion-col>
        <ion-col class="right" col-4>
          <h4>{{ roundToNear(today?.main.temp_max) }}<sup>&deg;</sup></h4>
          <p>Max</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="weekdays" *ngFor="let api of data">
    <ion-grid>
      <ion-row>
        <ion-col class="left" col-4>
          <p>{{ getDay(api.dt_txt) }}</p>
        </ion-col>
        <ion-col class="center" col-4>
          <img [src]="getIconByWeatherDescription(api.weather[0]?.main)" [alt]="api.weather[0]?.main">
        </ion-col>
        <ion-col class="right" col-4>
          <p>{{ roundToNear(api.main.temp) }}<sup>&deg;</sup></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
